POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=enderchest
POSTGRES_USER=replace_me
POSTGRES_PASSWORD=replace_me

MINIO_ROOT_USER=replace_me
MINIO_ROOT_PASSWORD = replace_me

NODE_ENV=development 
APP_SECRET=replace_me

